@import "tailwindcss";
@plugin "daisyui";

@font-face {
	font-family: "Onest";
	src: url("/fonts/Onest.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
}

html,
body {
	font-family: "Onest", sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
